* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  .portada {
    text-align: center;
    margin-bottom: 5px;
    animation: move 0.5s ease-in-out;
    background-image: url("../img/new-background-header.jpg");
    img {
      max-width: 30%;
    }
  }

  @keyframes move {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
  }
  i {
    color: skyblue;
  }
}

iframe {
  width: 70%;
}

.galeria {
  img {
    width: 100%;
    height: 250px;
  }
  .col-lg-4 {
    padding: 10px;
  }
}

h1 {
  text-align: center;
}

h2 {
  background-color: skyblue;
  color: white;
  font-weight: bold;
  text-align: center;
}

.carrusel {
  height: 30%;
}

.form {
  margin-top: 20px;
  padding: 10px;
}

.aldar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  color: white;

  background-image: url("../img/new-background-header.jpg");
  i {
    color: skyblue;
  }
  button {
    border: none;
    font-size: 50px;
    background-color: transparent;
    i {
      color: white;
    }
    :hover {
      color: skyblue;
    }
  }
}
