* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  .portada {
    text-align: center;
    margin-bottom: 5px;
    animation: move 0.5s ease-in-out;
    background-image: url("../img/new-background-header.jpg");
    img {
      max-width: 30%;
    }
  }

  @keyframes move {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
  }
  i {
    color: skyblue;
  }
  nav {
    ul {
      align-items: center;
      li {
        color: skyblue;
        font-family: impact;
        font-weight: lighter;
      }
    }
  }
}

iframe {
  width: 70%;
}

.galeria {
  img {
    width: 100%;
    height: 250px;
  }
  .col-lg-4 {
    padding: 5px;
  }
}

h1 {
  text-align: center;
}

h2 {
  background-color: rgb(42, 179, 230);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.carousel {
  img {
    height: 500px;
  }
}

.form {
  margin-top: 20px;
  padding: 10px;
}

footer {
  text-align: center;
  color: white;

  background-image: url("../img/new-background-header.jpg");
  i {
    color: skyblue;
  }
  button {
    border: none;
    font-size: 50px;
    background-color: transparent;
    i {
      color: white;
    }
    :hover {
      color: skyblue;
    }
  }
}
